name: Rebuild HLDS API (Fix passlib)

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      packages: write
    steps:
      - uses: actions/checkout@v4

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build & Push API (amd64)
        uses: docker/build-push-action@v5
        with:
          context: .
          file: Dockerfile.api
          platforms: linux/amd64
          push: true
          tags: |
            ghcr.io/nongsp/hlds-master-server-api:amd64
            ghcr.io/nongsp/hlds-master-server-api:latest
